.main {
	width: 100%;
	padding: 1rem 10%;
	margin-bottom: 10rem;
}

.main p {
	font-size: larger;
	margin-bottom: 1rem;
}

.main h1 {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.main h3 {
	text-align: center;
	color: darkcyan;
	font-weight: bold;
}

.hobbiesDiv {
	margin-top: 5%;
}

.hobbiesDiv p {
	margin-right: 1rem;
	padding-left: 15px;
}

.hobbiesDiv span {
	margin: 0;
	padding: 0;
	height: 100%;
}

.profSkillsDiv {
	margin-top: 5%;
}

.profSkillsDiv li {
	font-size: larger;
}

.otherSkillsDiv {
	margin-top: 5%;
}

.contactDiv {
	margin-top: 5%;
}

.contactDiv p {
	margin-right: 1rem;
	padding-left: 15px;
}

.firstRow {
	margin-bottom: 3rem;
	padding: 10% auto;
}
